.bg-img {
  min-height: 750px;
  z-index: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title-container {
  margin: 10rem 15rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .main-text {
    font-size: 8rem;
  }

  .secondary-text {
    font-size: 2rem;
  }
}

/* The navbar */
.topnav {
  margin-top: 30px;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;

    &:hover {
      // background-color: #ddd;
      border-bottom: 1px solid red;
      color: black;
    }
  }
}

@media screen and (max-width: 480px) {
  .bg-img {
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .main-title-container {
    margin: 0;
    top: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-text {
      font-size: 3rem;
    }
    .secondary-text {
      display: none;
    }
  }

  .topnav {
    display: none;
  }
}

// .topnav
