.title-testimonial {
  text-align: center;
  color: #aaa;
  margin: 2rem;
}

.testimonials-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  // margin-top: -10%;
  // margin-left: 10%;
  margin-bottom: 3%;
  z-index: initial;
  position: relative;

  .testimonials-nav-container {
    // margin-top: 5rem;
    margin-bottom: 1rem;
    // height: 6rem;

    .testimonials-logo {
      font-weight: 700;
      font-family: 'Roboto Condensed', sans-serif;
      // margin-left: 20%;
      color: grey;

      // h1 {
      //   font-size: 6rem;
      // }
    }

    .title {
      text-align: center;
      margin: 2rem;
      color: #aaa;
    }
  }

  .testimonials-row {
    padding-top: 3%;
    padding-right: 3%;
    // margin: 1rem;
    // margin-left: 20%;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    h3 {
      text-align: center;
      color: #fff;
      font-size: 20px;
      margin: 1rem auto 2rem;
    }

    .testimonials-column {
      float: left;
      width: 33.33%;
      padding: 10px;
      margin-top: 5%;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      letter-spacing: 0.1rem;

      img {
        width: 20%;
        margin-bottom: 3%;
      }

      hr {
        width: 33%;
        height: 1.5px;
      }

      h4 {
        margin-right: 5%;
      }
    }
  }

  .testimonials-body-container {
    background-color: darkgrey;
    width: 87%;
    // margin-left: -15%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .testimonials-top-title {
      font-family: 'PT Sans', sans-serif;
      text-align: center;
      padding: 2%;
      color: white;
      font-weight: 800;
    }
  }
}

.carousel {
  width: 350px;
  // margin: 0 auto;
  padding-bottom: 50px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}
.carousel .item a {
  color: #eb7245;
}
.carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.testimonial {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}
.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}
.carousel .overview b {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}

.carousel .overview {
  color: #fff;
  font-size: 15px;
  // text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}
.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}
.carousel .carousel-control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #999;
  text-shadow: none;
  top: 4px;
}
.carousel-control i {
  font-size: 20px;
  margin-right: 2px;
}
.carousel-control.left {
  left: auto;
  right: 40px;
}
.carousel-control.right i {
  margin-right: -2px;
}
.carousel .carousel-indicators {
  bottom: 15px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #e2e2e2;
  border-color: transparent;
}
.carousel-indicators li.active {
  border: none;
  background: #888;
}

@media (max-width: 1080px) {
  .aside-pic {
    display: none;
  }

  .testimonials-container {
    width: 100%;
    margin-left: 0;

    .testimonials-body-container {
      width: 100%;
    }
  }

  .slick-arrow {
    display: none;

    &::before {
      display: none;
    }
  }

  .testimonials-container .testimonials-body-container {
    margin-left: 0;
  }

  .testimonials-container .testimonials-row {
    margin-left: 0;
  }
  .testimonials-nav-container {
    display: none;
  }

  .title-testimonial {
    display: none;
  }
}
