.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-left: 3rem;

  h2 {
    text-align: center;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
