* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.team-section-for-order {
  width: 100%;
}

.team-section-for-order .container {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

.team-section-for-order .container .row {
  width: 60%;
  margin: auto;
}
.team-section-for-order .container .row .title {
  text-align: center;
  margin-top: 50px;
}

.team-section-for-order .container .row .title h1 {
  // font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #a3a3a3;
}

.team-section-for-order .container .row .title p {
  font-size: 18px;
  font-family: sans-serif;
  margin: 30px 0px;
  color: #a3a3a3;
}

.team-section-for-order .container .team-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}

.team-section-for-order .container .team-card .card {
  width: 100%;
  // background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.team-section-for-order .container .team-card .card:hover {
  background-color: #f3f3f3;
  transition: 0.3s;
}

.team-section-for-order .container .team-card .card img {
  height: 150px;
  width: 150px;
  border-radius: 10%;
  border: 6px solid #fff;
}

.team-section-for-order .container .team-card .card .content {
  width: 100%;
  text-align: center;
}

.team-section-for-order .container .team-card .card .content h3 {
  font-size: 27px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  color: #000000;
}

.team-section-for-order .container .team-card .card .content p {
  font-size: 14px;
  margin: 16px 0px;
  line-height: 1.5;
  color: #6c6c6c;
}

@media screen and (max-width: 900px) {
  .team-section-for-order .container .team-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .team-section-for-order .container .team-card {
    grid-template-columns: 1fr;
  }
}
